@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script&family=Source+Sans+Pro&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

#main {
    background-color: hsl(29, 100%, 91%);
}

/* HEADER STYLING START */

header {
    width: 100%;
    display: flex;
    background-color: rgb(45, 71, 156);
}

#title-container {
    position: absolute;
    align-self: center;
    margin-left: 5%;
}

#title {
    color: #eee;
    font-size: 72px;
    font-family: "Oleo Script", serif;
}

#title-sub {
    color: #bbb;
    font-size: 32px;
    font-family: "Bebas Neue", serif;
}

#title-lifespan {
    color: #bbb;
    font-size: 24px;
    font-family: "Bebas Neue", serif;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.header-background {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
    filter: 
        brightness(40%)
        contrast(110%);
    opacity: 90%;
}

/* HEADER STYLING END */

#tribute-info {
    margin: auto;
    display: block;
    padding: 32px;
    font-size: 18px;
    font-family: 'Source Sans Pro';
    color: hsl(0, 37%, 12%);
    max-width: 720px;
}

#tribute-info p {
    margin-bottom: 16px;
}

#img-div {
    text-align: center;
    margin-bottom: 16px;
}

#image {
    width: 250px;
    margin-bottom: 8px;
}

#wikipedia-referral {
    margin-top: 32px;
}

#tribute-link {
    text-decoration: none;
    font-weight: 900;
    color: hsl(325, 75%, 30%);
}


@media screen and (max-width: 820px) {
    #tribute-info {
        font-size: 16px;
        max-width: 620px;
    }
}

@media screen and (max-width: 640px) {
    #title {
        font-size: 42px;
    }

    #title-sub {
        font-size: 24px;
    }

    #title-lifespan {
        font-size: 18px;
    }
}